<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form cForm [formGroup]="loginForm" (ngSubmit)="login()">
                <h1>Login</h1>
                <p class="text-medium-emphasis">Sign In to your account</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input
                    autoComplete="identifier"
                    formControlName="identifier"
                    cFormControl
                    placeholder="Username / Email"
                  />
                </c-input-group>
                <small *ngIf="identifier.invalid && (identifier.dirty || identifier.touched)" class="text-danger">
                  <div *ngIf="identifier.errors?.['required']">Identifier is required</div>
                </small>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    autoComplete="password"
                    formControlName="password"
                    cFormControl
                    placeholder="Password"
                    type="password"
                  />
                </c-input-group>
                <small *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                  <div *ngIf="password.errors?.['required']">Password is required</div>
                  <div *ngIf="password.errors?.['pattern']">Please use minimum 8 characters, at least 1 uppercase, 1 lowercase, 1 number and 1 special character!</div>
                </small>
                <c-row>
                  <c-col xs="6">
                    <button cButton class="px-4" color="primary" [disabled]="loginForm.invalid" type="submit">
                      Login
                    </button>
                  </c-col>
                  <c-col class="text-right" xs="6">
                    <button cButton class="px-0" color="link">
                      Forgot password?
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
            <c-card-footer *ngIf="message">
              <p *ngIf="valid" class="text-success">{{message}}</p>
              <p *ngIf="!valid" class="text-danger">{{message}}</p>
            </c-card-footer>
          </c-card>
          <c-card [ngStyle]="{'width.%': 44}" class="text-white bg-primary py-5">
            <c-card-body class="text-center">
              <div>
                <h2>Sign up</h2>
                <p>
                  Not a member?
                </p>
                <button [active]="true" cButton class="mt-3" color="primary" routerLink="/register">
                  Register Now!
                </button>
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
